.ad {
            color: black;
            width: 250px; /* Each ad takes up 25% of the row */
            height: 250px;       
            box-sizing: border-box;
            
            
        }

